{% extends 'bankApp/index.html' %}
{% block title %}
	charts
{% endblock title %}

{% block content %}

	<center>
		<h2>
			Add Category For Payment
		</h2>
	</center>
	<hr/>

	<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2">
		<div class="col col-lg-6">
			<canvas id="Chart1" >
		</div>
		<div class="col col-lg-6">
			<div class="row">
				<canvas id="Chart2" >
			</div>
			<div class="row">
				<canvas id="Chart3" >
			</div>
		</div>
	</div>
    
    <!--<canvas id="myChart" style="background-color: #151515;height: 80vh;"></canvas>-->
{% endblock content %}

{% block script %}
    <script>
        var ctx = document.getElementById('Chart1').getContext('2d');
		var chart = new Chart(ctx, {
		    // The type of chart we want to create
		    type: 'doughnut',

		    // The data for our dataset
		    data: {
		        labels: {{ chartData.expense.labels|safe }},
		        datasets: [{
		            label: 'Expensess of Aug',
		            backgroundColor: {{ chartData.expense.color|safe }},
		            borderColor: "#3B4F54",
		            borderWidth: 4,
		            data: {{chartData.expense.data|safe }},
		        }]
		    },

		    // Configuration options go here
		    options: {
		    	layout: {
		            padding: {
		                left: 10,
		                right: 0,
		                top: 20,
		                bottom: 20,
		          	}
		        },
		        legend: {
		            display: true,
		            position: 'bottom',
		            Align:'end',
		            labels: {
		                fontColor: '#E0E0E0',
		                boxWidth: 20,
		                fontSize: 15,
		            }
		        },
		        title: {
		            display: true,
		            text: 'Expensess of Aug',
		            fontSize:30,
		            fontColor: '#E0E0E0',
		            fontStyle:'normal',
		        },
	            responsive: true,
			    maintainAspectRatio: false,
			}

			
		});
    </script>
    <script>
        var ctx = document.getElementById('Chart2').getContext('2d');
        Chart.defaults.global.defaultFontColor = '#E0E0E0';
        Chart.defaults.global.defaultFontSize = 15;
		var chart = new Chart(ctx, {
		    // The type of chart we want to create
		    type: 'horizontalBar',

		    // The data for our dataset
		    data: {
		        labels: {{ chartData.income.labels|safe }},
		        datasets: [{
		            label: 'Income stack',
		            backgroundColor: {{ chartData.income.color|safe }},
		            borderColor: "#000",
		            data: {{chartData.income.data|safe }},
		        }]
		    },

		    // Configuration options go here
		    options: {
		    	layout: {
		            padding: {
		                left: 5,
		                right: 5,
		                top: 10,
		                bottom: 0,
		          	}
		        },
		        legend: {
		            display: true,
		            position: 'top',
		            Align:'end',
		            labels: {
		                fontColor: '#E0E0E0',
		                boxWidth: 0,
		                fontSize: 20,
		                fontStyle:'normal',
		            }
		        },
		        scales: {
		            xAxes: [{
		                stacked: true
		            }],
		            yAxes: [{
		                stacked: true
		            }]
		        },
	            responsive: true,
			    maintainAspectRatio: false,
			}
		});
    </script>
    <script>
        var ctx = document.getElementById('Chart3').getContext('2d');
        Chart.defaults.global.defaultFontColor = '#E0E0E0';
        Chart.defaults.global.defaultFontSize = 15;
		var chart = new Chart(ctx, {
		    // The type of chart we want to create
		    type: 'line',

		    // The data for our dataset
		    data: {
		        labels: {{ chartData.dalyTransaction.labels|safe }},
		        datasets: [{
		            label: 'Daly Transiaction',
		            //backgroundColor: '#F00',
		            borderColor: "#F00",
		            data: {{chartData.dalyTransaction.data|safe }},
		        	},
		        	{
		            label: 'Balance',
		            //backgroundColor: '#F00',
		            borderColor: "#FFF",
		            data: {{chartData.dalyTransaction.data1|safe }},
		        	},
		        ]
		    },

		    // Configuration options go here
		    options: {
		    	layout: {
		            padding: {
		                left: 5,
		                right: 5,
		                top: 10,
		                bottom: 0,
		          	}
		        },
		        legend: {
		            display: true,
		            position: 'top',
		            Align:'end',
		            labels: {
		                fontColor: '#E0E0E0',
		                boxWidth: 0,
		                fontSize: 15,
		                fontStyle:'normal',
		            }
		        },

	            responsive: true,
			    maintainAspectRatio: false,
			}
		});
    </script>
{% endblock script %}