@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --amount-font:3rem;
    --date-font:1.5rem;
    --check-font:1.2rem;
    --balance-font:1rem;
}

body{
    background-color: #3B4F54;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.navbar-title{
    font-family: 'Satisfy',cursive;
}
nav{
    margin-bottom: 0.5rem;
}
nav .btn{
    color: #FFF;
    border:0;
}
.nav-button .btn{
    margin-left: 1rem;
}

.nav-button{
    float: right;
}

hr{
    height:2px;
    border-width:0;
    color:#FFF;
    background-color:#FFF;
}
.statement-display{
    padding: 1rem;
    font-size: 1.2rem;
}
.statement-display .disc{
    overflow-wrap: break-word;
}
.statement-display div{
    margin-bottom: 0.5rem;
}
.statement-display strong{
    color: #E0E0E0;
    font-size: 1.2rem;
}

.aline-end{
    text-align: right;
}

.list-group a{
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px dashed #000;
}

.list-group-item{

}

canvas#Chart1{

  width:100% !important;
  height:80vh !important;

}

canvas#Chart2{

  width:100% !important;
  height:50vh !important;

}