{% extends 'bankApp/index.html' %}

{% load static %}

{% block title %}
	charts
{% endblock title %}

{% block nav%}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'HomePage:home' %}">
                <img src="{% static '/bankApp/DS_bank_logo_white.svg' %}" width="50" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
                <span class="navbar-title">
                    Money Tracker
                </span>  
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse form-inline  nav-button" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'get_bank_csv:home' %}">
                                <i class="fas fa-upload"></i> Add Transiction
                            </a>
                        </li>
                    </ul>
                </form>       
            </div>
        </div>
    </nav>
{% endblock nav%}

