{% extends 'HomePage/base.html' %}
{% block title %}
	charts
{% endblock title %}

{% block content %}

	<div class="row row-cols-lg-3 row-cols-md-3 row-cols-1">
		<div class="col">
		</div>
		<div class="col justify-content-center align-self-center">
			<center>
				<h2>
					{{chartData.month.0}}
				</h2>
			</center>
		</div>
		<div class="month-form col">
			<form class="form-inline align-self-center justify-content-end">
			  <!--<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Month</label>-->
			  <select class="form-style custom-select" id="inlineFormCustomSelectPref" name="month">
			    <option selected value="1">Jan</option>
			    <option value="2">Feb</option>
			    <option value="3">Mar</option>
			    <option value="4">Apr</option>
			    <option value="5">May</option>
			    <option value="6">Jun</option>
			    <option value="7">Jul</option>
			    <option value="8">Aug</option>
			    <option value="9">Sep</option>
			    <option value="10">Oct</option>
			    <option value="11">Nov</option>
			    <option value="12">Dec</option>
			  </select>

			  <!--<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Month</label>-->
			  <input type="number" 
			  class="form-style form-control" id="inlineFormInputName2" 
			  style="width: 6rem;" 
			 	name="year" >

			  <button type="submit" class="form-style btn btn-success">
			  	<i class="fas fa-external-link-alt" style="font-size: 1rem"></i>
			  </button>
			</form>
		</div>
		
	</div>
	<hr/>
	{% if chartData.errorMessages %}

		{% for message in chartData.errorMessages %}
			<h4>
				<div class="error">{{message|safe}}</div>
			</h4>
		{% endfor %}
		<hr/>

	{% else %}
		
		{% if chartData.messages %}
			{% for message in chartData.messages %}
				<h4>
					<div class="error">{{message|safe}}</div>
				</h4>
			{% endfor %}
			<hr/>
		{% endif %}

		<div class=" row row-cols-1 row-cols-md-1 row-cols-lg-2">
			<div class="col col-lg-6">
				<div class=" canvas-display pie row row-cols-1">
					<div class="row row-cols-1" >
						<center><h4 style="color: #e0e0e0">Expensess of {{chartData.month.0}}</h4></center>
					</div>
					<div class="row">
						<div class="col col-8">
							<canvas id="Chart1" />
						</div>
						<div class="col col-4 align-self-center">
							<ul class="category-list" id="expenseCategoryList">
							</ul>								
						</div>
					</div>
				</div>
				<div class="canvas-display tar row row-cols-1" style="padding-left: 5%;">
					<marquee behavior="scroll" direction="up" scrollamount="5" class="scrol-text" style="height:100%;">
						{% for i in chartData.transiaction %}
							{% if i.type == 'DEBIT' %}
								<div class="row row-cols-2" style="background-color: red;">
									<div class="col">-{{i.amount}}</div> 
									<div class="col" style="text-align: right;">{{i.dateTime| date:'d/m H:i'}}</div>
								</div>
							{% else %}
								<div class="row row-cols-2" style="background-color: green;">
									<div class="col">+{{i.amount}}</div> 
									<div class="col" style="text-align: right;" >{{i.dateTime| date:'d/m H:i'}}</div>
								</div>
							{% endif %}
						{% endfor %}
					</marquee>
				</div>
			</div>
			<div class="col col-lg-6">
				<div class="canvas-display row">
					<canvas id="Chart2" >
				</div>
				<div class="canvas-display row">
					<canvas id="Chart3" >
				</div>
			</div>
		</div>
	{% endif %}
{% endblock content %}


{% if not chartData.errorMessages  %}
	{% block script %}
		{% include 'script/HomePage/show_chart_script.html' %}
		{% include 'script/HomePage/chart.html' %}
	{% endblock script %}
{% endif %}
