{% extends 'get_bank_csv/home.html' %}
{% block title %}
    Uplode CSV
{% endblock title %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>
    <!--                | means OR operator-->
                <center>
                    
                        <strong>{{message|safe}}</strong>
                    
                </center>
            </div>
        {% endfor %}
    {% else %}
    <center>
        <h2>
            {{order}}
        </h2>
    </center>
    <hr>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name='file'>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <button class="btn btn-light" type="submit">Upload</button>
        </div>
    </form>


    {% endif %}

{% endblock %}