{% extends 'bankApp/index.html' %}

{% load static %}

{% block title %}
	Home
{% endblock title %}

{% block nav%}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'HomePage:home' %}">
                <img src="{% static '/bankApp/DS_bank_logo_white.svg' %}" width="50" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
                <span class="navbar-title">
                    Money Tracker
                </span>  
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse form-inline  nav-button" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'get_bank_csv:home' %}" title="Home" >
                                <i class="fas fa-home" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'get_bank_csv:allTransiaction' %}" title="Get all transiction">
                                Transiction
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'get_bank_csv:uplode_csv' %}" title="Uplode bank csv file">
                                <i class="fas fa-upload"></i> CSV
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'get_bank_csv:withoutCategoryList' %}" title="Add category to recent transactions">
                                <i class="fas fa-plus" aria-hidden="true"></i> Category
                            </a>
                        </li>
                        
                        <li class="nav-item active">
                            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}" name="logout" title="Logout">
                                <i class="fas fa-sign-out-alt"></i> 
                            </a>
                        </li>

                    </ul>
                </form>       
            </div>
        </div>
    </nav>
{% endblock nav%}


{% block content %}
	<center>
		<h2>
			<strong>
		 		Transactions
		 	</strong>
		</h2>
	</center>
	<hr/>

	<div class="list-group">
		{% for statement in statements %}
			<a href="{% url 'get_bank_csv:transiaction_edite' statement.pk %}" 
			class="list-group-item list-group-item-action 
			{% if statement.category != 'None' %}list-group-item-success
			{% else %}list-group-item-dark{% endif %}">
				{{statement}}
			</a>
    	{% endfor %}
	</div>
{% endblock %}