{% extends 'bankApp/index.html' %}
{% block title %}
	transiaction
{% endblock title %}
{% block content %}
	<center>
		<h2>
			<strong>
		 		Transiactions
		 	</strong>
		</h2>
	</center>

	<div class="list-group">
		{% for statement in statements %}
			<a href="{% url 'get_bank_csv:transiaction_edite' statement.pk %}" 
			class="list-group-item list-group-item-action list-group-item-dark">
				{{statement}}
			</a>
    	{% endfor %}
	</div>
{% endblock %}


<!--(if want to show all transiaction with gree for modified and black for not modifi)
	<div class="list-group">
		{% for statement in statements %}
			<a href="{% url 'get_bank_csv:transiaction_edite' statement.pk %}" 
			class="list-group-item list-group-item-action 
			{% if statement.category != 'None' %}list-group-item-success
			{% else %}list-group-item-dark{% endif %}">
				{{statement}}
			</a>
    	{% endfor %}
	</div>
-->